<h1>About</h1>
<p>
	Look Ma! is a <%= link_to "Rails app", "http://rubyonrails.org" %> I created to share photos of my daily life with family members and close friends.
</p>
<p>	 
	* and I guess any stalkers since it's viewable by anyone ;)
</p>


