<div class="center hero-unit">
	<h1>Creating Pintrest</h1>

	<p>You found my app created to learn infinite scrolling and user uploading.</p>

	<p> <%= link_to "Sign Up Now!", new_user_registration_path , class: "btn btn-large btn-primary" %> </p>
</div>
